<div class="row">
    <div class="col-sm-12">
        <blockquote cite="'Hohe Luft', Ausgabe 5/2019, S.9">
            Jeder Mensch hat das Recht, selbst zu denken, sich ein eigenes Urteil zu bilden und zu verkünden. [...] Das
            Recht auf Meinungsfreiheit bedeutet nicht, dass alle Meinungen gleichberechtigt sind. Eine Meinung steht und
            fällt mit den Gründen, die der Inhaber für sie anführt. Eine gut begründete Meinung wiegt mehr als eine
            schlecht begründete - und Begründung ist keine Ansichtssache.
            Tobias Hüther, "Wie die Öffentlichkeit sich selbst zerstört - und was wir dagegen tun können"
        </blockquote>
        <br><a [href]="'/community/' + communityId + '/vectors'" i18n>Next</a>
    </div>
</div>
