<div class="row">
    <h1 *ngIf="vector.url" i18n>Edit Vector</h1>
    <h1 *ngIf="!vector.url" i18n>Create Vector</h1>

    <form #vectorForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!submitted">
        <div class="form-group">
            <label for="name" i18n>Name</label>
            <input type="text" id="name" name="name" class="form-control" minlength="2" required
                   [(ngModel)]="vector.name" #name=ngModel>
            <div
                    [hidden]="name.valid || name.pristine"
                    class="alert alert-danger" i18n>
                Name is required and must be at least two characters long.
            </div>
        </div>

        <div class="form-group">
            <label for="video-id" i18n>Video-ID</label>
            <input type="text" id="video-id" name="video-id" class="form-control" required
                   [(ngModel)]="vector.video_id" #video_id=ngModel>
            <div
                    [hidden]="video_id.valid || video_id.pristine"
                    class="alert alert-danger" i18n>
                Video-ID is required
            </div>
        </div>

        <div class="form-group">
            <label for="vector-type" i18n>Vector-Type</label>
            <select id="vector-type" name="vector-type" class="form-control" required
                    [(ngModel)]="vector.vector_type" #vector_type=ngModel>
                <option value="static" i18n>Static</option>
                <option value="dynamic" i18n>Dynamic</option>
            </select>
            <div
                    [hidden]="vector_type.valid || vector_type.pristine"
                    class="alert alert-danger" i18n>
                Vector-Type is required
            </div>
        </div>

        <button type="submit" class="btn btn-success" i18n>Save</button>
        <button class="btn btn-danger" (mousedown)="onCancel()" i18n>Cancel</button>
    </form>

    <p *ngIf="submitted" i18n>
        Your request was submitted, please wait a second...
    </p>
</div>
