<div class="row">
    <div class="col-sm-12">
        <h1 i18n>Relevant Vectors</h1>
        <p i18n>Please watch the following Videos to proceed.</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <h2 i18n>Static Vectors</h2>
        <ul>
            <li *ngFor="let vector of staticVectors">
                <app-youtube-embedded [youtubeId]="vector.video_id"></app-youtube-embedded>
            </li>
        </ul>
    </div>

    <div class="col-sm-12 col-md-6">
        <h2 i18n>Dynamic Vectors</h2>
        <ul>
            <li *ngFor="let vector of dynamicVectors">
                <app-youtube-embedded [youtubeId]="vector.video_id"></app-youtube-embedded>
            </li>
        </ul>
    </div>

    <a [href]="'/community/' + community.id + '/view'" i18n>Next</a>
</div>
