$button-color: #009;
$button-font-color: whitesmoke;

.menu-badge {
  background: $button-color;
  min-height: 3em;
  color: $button-font-color;
  padding: 3em;
}

.menu-badge:active {
  position: relative;
  top: .1em;
}
