<h1 i18n>Manage Collop</h1>

<div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3">
        <a href="/create-community" class="badge menu-badge" i18n>Create new community</a>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
        <a href="/communities" class="badge menu-badge" i18n>Manage communities</a>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
        <a href="/vectors" class="badge menu-badge" i18n>Manage Vectors</a>
    </div>
</div>
