<h2 i18n>Community Videos</h2>
<p *ngIf="mapVideos.length == 0" i18n>There are no videos yet.</p>
<div class="row">
    <div class="col-sm-6 col-md-3" *ngFor="let mapVideo of mapVideos">
        <img [src]="mapVideo.thumbnail" class="map-video-thumbnail">
    </div>
</div>
