<h1 *ngIf="!community.id" i18n>Create Community</h1>
<h1 *ngIf="community.id" i18n>Edit Community</h1>
<form #communityForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!submitted">
    <div class="form-group">
        <label for="name" i18n>Name</label>
        <input type="text" id="name" name="name" class="form-control" minlength="2" required
               [(ngModel)]="community.name" #name=ngModel>
        <div
                [hidden]="name.valid || name.pristine"
                class="alert alert-danger" i18n>
            Name is required and must be at least two characters long.
        </div>
    </div>

    <div class="form-group">
        <label for="latitude" i18n>Latitude</label>
        <input type="number" step="0.000001" id="latitude" name="latitude" class="form-control" required
               [(ngModel)]="community.latitude" #latitude=ngModel>
        <div
                [hidden]="latitude.valid || latitude.pristine"
                class="alert alert-danger" i18n>
            Latitude is required
        </div>
    </div>

    <div class="form-group">
        <label for="longitude" i18n>Longitude</label>
        <input type="number" step="0.000001" id="longitude" name="longitude" class="form-control" required
               [(ngModel)]="community.longitude" #longitude=ngModel>
        <div
                [hidden]="longitude.valid || longitude.pristine"
                class="alert alert-danger" i18n>
            Longitude is required
        </div>
    </div>

    <button type="submit" class="btn btn-success" i18n>Save</button>
    <button class="btn btn-danger" (mousedown)="onCancel()" i18n>Cancel</button>
</form>

<p *ngIf="submitted" i18n>
    Your request was submitted, please wait a second...
</p>
