<h2 i18n>Background</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!imageURL">
    <label for="background" class="form-control" i18n>Background</label>
    <input type="file" id="background" name="background" (change)="onChange($event)" class="form-control"/>
    <button type="submit" class="btn btn-primary" i18n>Upload Background</button>
</form>
<img [src]="imageURL" *ngIf="imageURL" class="background-img">
