<div class="container">
    <div class="row">
        <div class="col-12">
            <nav>
                <a href="/" i18n>Dashboard</a>
            </nav>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
