<h1 i18n>Watch Videos</h1>
<div class="layer" *ngIf="layerActive"></div>
<div *ngIf="layerActive" class="video">
    <app-youtube-embedded [youtubeId]="activeVideoId"></app-youtube-embedded>
    <br>
    <a (click)="closeLayerSeparator()" i18n *ngIf="layerActive">Close</a>
</div>
<canvas id="game_area" width="1000" height="500"></canvas>
<a [href]="'/community/' + community.id + '/feedback'" i18n>Next</a>
