.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9001;
  opacity: .5;
}

.video {
  position: absolute;
  margin: auto;
  z-index: 9002;
}

.layerActive a {
  cursor: pointer;
}
