<h2 i18n>Videos</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="mapVideos.length < 10">
    <div class="form-group">
        <label for="thumbnail" i18n>Thumbnail</label>
        <input type="file" id="thumbnail" name="thumbnail" (change)="onThumbnailChange($event)" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="video-id" i18n>Video-ID</label>
        <input type="text" id="video-id" name="video_id" (change)="onVideoIdChange($event)" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary" i18n>Save Video</button>
</form>
<p *ngIf="mapVideos.length >= 10" i18n>You can not upload any more videos.</p>
