<h2 i18n>Select Vectors</h2>
<div class="row">
    <div class="col-5">
        <label for="availableVectors" i18n>Available Vectors</label>
        <select id="availableVectors" class="form-control" (change)="activateSelect($event.target.value)" multiple>
            <option *ngIf="persistentUnselectedVectors.length === 0" i18n>{{empty}}</option>
            <option *ngFor="let vector of persistentUnselectedVectors" value="{{vector.url}}">
                {{vector.name}} ({{vector.vector_type}})
            </option>
        </select>
    </div>
    <div class="col-2">
        <button
                class="col-12 btn btn-secondary"
                [disabled]="selectDeactivated()"
                (click)="addSelected()"
                i18n
        >
            add
        </button><br>
        <button
                class="col-12 btn btn-secondary"
                [disabled]="unselectDeactivate()"
                (click)="removeSelected()"
                i18n
        >
            remove
        </button>
    </div>
    <div class="col-sm-5">
        <label for="selectedVectors" i18n>Selected Vectors</label>
        <select
                id="selectedVectors"
                class="form-control"
                (change)="activateUnselect($event.target.value)"
                multiple
        >
            <option *ngIf="persistentSelectedVectors.length === 0" i18n>{{empty}}</option>
            <option *ngFor="let vector of persistentSelectedVectors" value="{{vector.url}}">
                {{vector.name}} ({{vector.vector_type}})
            </option>
        </select>
    </div>
</div>
