<div class="row">
    <div *ngIf="staticVectors" class="col-sm-12 col-md-6">
        <h2 i18n>Static Vectors</h2>
        <div *ngFor="let vector of staticVectors">
            <div class="card">
                <h3>{{vector.name}}</h3>
                <p>YT-ID: {{vector.video_id}}</p>
            </div>
        </div>
    </div>

    <div *ngIf="dynamicVectors" class="col-sm-12 col-md-6">
        <h2 i18n>Dynamic Vectors</h2>
        <div *ngFor="let vector of dynamicVectors">
            <div class="card">
                <h3>{{vector.name}}</h3>
                <p>YT-ID: {{vector.video_id}}</p>
            </div>
        </div>
    </div>
</div>

<a href="/create-vector" class="btn btn-primary" i18n>Add Vector</a>
