<h1 i18n>Manage {{community.name}}</h1>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <app-create-project [community]="community"></app-create-project>
    </div>
    <div class="col-sm-12 col-md-6">
        <app-edit-community-background [community]="community"></app-edit-community-background>
    </div>
</div>
<div class="col-sm-12">
    <app-select-vectors-for-communities [community]="community"></app-select-vectors-for-communities>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <app-add-map-videos [community]="community"></app-add-map-videos>
    </div>
    <div class="col-sm-12 col-md-6">
        <app-list-community-videos [community]="community"></app-list-community-videos>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <app-add-opening-video [community]="community"></app-add-opening-video>
    </div>
</div>
<div class="col-sm-12">
    <app-game-area-preparator [community]="community"></app-game-area-preparator>
</div>
