.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9001;
  opacity: .5;
}

.layer-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
  opacity: .10;
}

.feedback-selection-outer {
  position: relative;
  height: 350px;
}

.feedback-selection {
  position: absolute;
  bottom: 0;
  left: 2px;
}

.video {
  position: absolute;
  margin: auto;
  z-index: 9002;
}

.layerActive a {
  cursor: pointer;
}
