<h1 i18n>Give Feedback</h1>
<img *ngIf="layerActive" [src]="activeVideo.thumbnail" class="layer-img">
<div class="layer" *ngIf="layerActive"></div>
<div *ngIf="layerActive" class="video">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <h1>Additional Ideas and Impressions</h1>
                </div>
            </div>
            <div class="row feedback-selection-outer">
                <div class="col-12 feedback-selection">
                    <a *ngFor="let fb of feedback" (click)="openFeedback(fb.url)" class="btn btn-secondary">
                        <span *ngIf="fb.url" i18n>Filled</span>
                        <span *ngIf="!fb.url" i18n>Empty</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form *ngIf="currentlyOpenFeedback">
                <div class="form-group">
                    <label for="like" class="" i18n>I like...</label>
                    <textarea
                            id="like"
                            name="like"
                            class="form-control"
                            placeholder="I like that you included the old or sick people"
                            (change)="onLikeChanges($event)"
                            [readOnly]="currentlyOpenFeedback.url"
                    >{{currentlyOpenFeedback.like}}</textarea>
                </div>

                <div class="form-group">
                    <label for="wish" i18n>I wish...</label>
                    <textarea
                            id="wish"
                            name="wish"
                            class="form-control"
                            placeholder="I wish there would be more about animals."
                            (change)="onWishChanges($event)"
                            [readOnly]="currentlyOpenFeedback.url"
                    >{{currentlyOpenFeedback.wish}}</textarea>
                </div>

                <div class="form-group">
                    <label for="give" i18n>I give...</label>
                    <textarea
                            id="give"
                            name="give"
                            class="form-control"
                            placeholder="I give the idea to use the feces of the animals for biomass."
                            (change)="onGiveChanges($event)"
                            [readOnly]="currentlyOpenFeedback.url"
                    >{{currentlyOpenFeedback.give}}</textarea>
                </div>

                <button *ngIf="!currentlyOpenFeedback.url" (click)="sendFeedback()" class="btn btn-primary" i18n>
                    Send Feedback
                </button>
            </form>
            <p *ngIf="!currentlyOpenFeedback">Please click a feedback button on the left.</p>
        </div>
    </div>
    <a (click)="closeLayerSeparator()" i18n *ngIf="layerActive">Close</a>
</div>
<canvas id="game_area" width="1000" height="500"></canvas>
